<html>
	<head>
		<title>Django Girls Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>
		<div>
			<p>published: 13.09.2016, 11:18</p>
			<h2>My first Blog post</h2>
			<p>This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph.</p>
		</div>
		<div>
			<p>published: 14.06.2016, 20:14</p>
			<h2>My second blog</h2>
			<p>This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph. This is a sample paragraph.</p>
		</div>
	</body>
</html>